html,body{
    /* min-height: 100vh; */
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
    padding: 0;
    margin: 0; 
}

*{
    box-sizing: border-box;
    font-family: 'victor Mono';
}


.container{
    height: 100vh; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color:#34a9f1;
    background-image: linear-gradient(33deg, #4595c7, #7708ff);
    padding-bottom: 1.2em;
    padding-top: .2em;
    padding-right: 5px;
    padding-inline: 15px;
    border-radius: 0px 0px 50% 50%;
    margin-bottom: 10px;
}

header div:nth-child(2){
    text-align: right;
}

header div:nth-child(2) button{
    font-size: 1em;
    padding: 0;
    line-height: 0;
    padding-block: 1em;
    padding-bottom: 1.3em;
    padding-inline: .7em;
    background-image: linear-gradient(33deg, rgb(35, 185, 15), rgb(23, 163, 58));
    color: rgb(255, 255, 255);
    outline: none;
    border: none; 
    border-radius: 3px;
    font-weight: 100;
    text-transform: capitalize;
    
}

header div:nth-child(2) button:hover,header div:nth-child(2) button:focus{
    background-image: linear-gradient(33deg, rgb(30, 117, 193), rgb(120, 246, 255));
    color: #0e72ff;
    outline: solid 1px #10d9cb;

}

header div:nth-child(1) img{
    height: 40px;
    margin-top: -3px;
}



.categories{
    background-color: white;
    width: auto;
    display: flex;
    font-size: 1.4em; 
    padding-left: 1em;
    flex-direction: column;
    box-shadow: rgb(192, 192, 192) 0px 5px 6px 1px;
    position: relative;
}

.categories ul{
   border-radius: 5px;
   margin: 0;
    margin-top: .4em;
    padding: 0;
    padding-top: 2px;
    padding-inline: 1px;
    width: 100%;
    display: flex;
    list-style: none;
    gap: 13px;
    justify-content: flex-start;
    align-items: baseline;
    padding-bottom: 1em;
    overflow-x: scroll;
}
.categories  i{
    position: absolute;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
}
.categories ul li{
    font-size: 16px;
   background-color: #5c5f61;
   background-image: linear-gradient(33deg, #4595c7, #08daff);
   box-shadow: #2600ff 0px 0px 5px  ;
    cursor: pointer;
   flex: 1 0 auto;
   text-align: center;
   text-transform: capitalize;
   padding-block: .4em;
   color: white;
   padding-inline: 1em;
   border-radius: 3px;
}
.cat-text{
    display: flex;
    align-items: center;
}

.filter{
    margin-left: auto;
    margin-right: 8px;
    font-size: 10px;
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 50%;
    padding-inline: 10px;
    background-color:#07131b ;
    cursor: pointer;
    position: relative;
}
.filter-hidden{
    visibility: hidden;
    display: flex;
    font-size: 18px;
    padding: 1px;
    justify-content: space-around;
    text-transform: capitalize; 
    align-items: center;
    gap: 0px;
    flex-wrap: wrap;
    background:rgb(14, 13, 13) ;
    position: absolute;
    border-radius: 4px;
    color: white;
    width: 80%;
    margin-inline: auto;
    opacity: 0;
}

.filter-visible{
    
    top: 0%; 
    right: 35px;
    transition: all ease-in 200ms;
    visibility: visible;
    opacity: 1; 
}

.filter-hidden input{
    height: 2px;
}
.prix{
    flex: 1 0 100%;
    text-align: center;
}
main{
    flex: 1;  
    overflow-y: scroll; 
    padding-right: 4%;
    padding-left: 2%;
    width: 102%; 
    text-align: justify;
    margin-top: 5px;
    padding-top: 5px;
}


.item-card{
    grid-template-rows: 75% 20% ; 
    text-transform: capitalize;  
    width: 89%;
    margin-inline: auto;
    background-color: rgb(255, 255, 255);
    padding: 8px; 
    height: 93%;
    border-radius: 4px;
    box-shadow: rgb(216, 215, 215) 0px 0px 10px 1px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 17px;
    cursor: pointer;
}


.item-card .image-wapper{ 
    border-radius: 4px;
    flex: 1; 
    overflow: hidden;
    display: flex;
    align-items: center;
}

.item-card .image-wapper img{
    height: 100%;
    width: 100%;
}

.item-card .infos{   
    display: grid;
    gap: 0;
    flex-direction: column;
    padding: 0;
    align-items: center;
}

.item-card .infos span{
    padding: 0;
}
.item-card .infos .text{
    color: #2b3033;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 60% 30%;
    gap: 10%;
    justify-content: space-between;
    align-items: center;
}

.item-card .infos .text span:first-child{
    font-size: .8em;
    text-align: left;
    word-spacing: -2px;
}

.item-card .infos .text span:nth-child(2){
    text-align: right;
    font-weight: bold;
    word-spacing: -5px;
}



.item-card .infos button{
    
    cursor: pointer;
    font-size: 1em;
    padding: 0;
    line-height: 0;
    padding-block: 1em;
    padding-bottom: 1.3em;
    padding-inline: .7em;
    background-image: linear-gradient(33deg, rgb(62, 90, 92), rgb(75, 127, 186));

    color: rgb(255, 255, 255);
    outline: none;
    border: none; 
    border-radius: 3px;
    font-weight: 100;
    text-transform: capitalize;
}
.item-card .infos button:active {
    outline:solid 1px rgb(1, 255, 86);
    background-image: linear-gradient(33deg, rgb(32, 219, 132), rgb(141, 255, 64));

}
.footer-item-wapper{
    width: 80%;
    margin: 0 auto; 
    color: white;
    overflow: hidden;
    padding: .1em;
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer{ 
    width: 100%;    
    background-image: linear-gradient(33deg, #0472b6, #7708ff);
    border-radius: 15px 15px 0 0;
    padding-block: 2px;
}
.footer-item{
     flex: 0 0 calc(100%/6);
     height: 40px;
     background-color: rgb(255, 255, 255);
     border-radius: 50%; 
}

@media screen and (min-width:360px) {
    footer{
        border-radius: 0;
    background-image: linear-gradient(33deg, #3a96e0, #0b40ff);

    }
    .footer-item-wapper{
        width: 60%;
    }
}

@media screen and (min-width:400px){
    
    .item-card{  
        width: 70%;
        
    }

    footer{ 
    background-image: linear-gradient(33deg, #114067, #6479c2);

    }
    .footer-item-wapper{
        width: 50%;
    }

    .filter-visible{
    
        top: 0%;
        width: 250px; 
    }
}

@media screen and (min-width:540px){
    .item-card .infos .text span:first-child{
        font-size: 1em;
    }

}

@media screen and (min-width:600px){
    main{
        flex-wrap: wrap;
        display: flex;
        align-items: stretch;
    }
    .item-card{  
        flex: 0 0 300px; 
        height: 100%;
        
    }
}