/* reset browser styles*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol,
ul,
li,
form,
label,
article,
aside,
footer,
header,
menu,
nav {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article,
aside,
footer,
header,
menu,
nav,
section {
	display: block;
}



ol {
	padding-left: 1.4em;
	list-style: decimal;
}

ul {
	padding-left: 1.4em;
	list-style: square;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset browser styles */

*{
    box-sizing: border-box;
}

/*typo*/

/*
    *playlist script
*/
@font-face {
    font-family: 'playlistscript';
    src: url('./fonts/playlistscript/fontsfree-net-playlistscript_1-webfont.woff2') format('woff2'),
         url('./fonts/playlistscript/fontsfree-net-playlistscript_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'playlistscript';
    src: url('./fonts/playlistscript/fontsfree-net-playlistscript_1-webfont.woff2') format('woff2'),
    url('./fonts/playlistscript/fontsfree-net-playlistscript_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*
    *glacial indifference
*/
@font-face {
    font-family: 'glacial_indifferencebold';
    src: url('./fonts/glacialindif/fontsfree-net-glacialindifference-bold_1-webfont.woff2') format('woff2'),
         url('./fonts/glacialindif/fontsfree-net-glacialindifference-bold_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*
    *poppins bold
*/
@font-face {
    font-family: 'poppinsbold';
    src: url('./fonts/Poppins/Poppins-Bold/poppins-bold-webfont.woff2') format('woff2'),
         url('./fonts/Poppins/Poppins-Bold/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*
    *poppins regular
*/
@font-face {
    font-family: 'poppinsregular';
    src: url('./fonts/Poppins/Poppins-Regular/poppins-regular-webfont.woff2') format('woff2'),
         url('./fonts/Poppins/Poppins-Regular/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* --------------------------------------------------------------------*/
html,body{
    margin: 0;
    min-height: 100vh;
}

html{
    background-image: url('./assets/bg0-min.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
}
*{
    box-sizing: border-box;
}

body{
    display: flex;
    border: dashed red 1px;
}

.container{
    overflow-x: hidden;
    border: dashed rgb(64, 39, 224) 1px;
    margin: 05px auto;
}



.container header .logo{
    padding: 0 .1em;
    padding-top: .5rem;
    position: relative;
    font-size: 12em;
    line-height: 1.1;
    font-family:'playlistscript' ;
}

.logo span{
    font-size: initial;
    font-size: 2.4rem;
    position: absolute;
    bottom: -2%;
    left:30%;
    font-family: 'glacial_indifferencebold';
}
.social-media-wapper{
    margin-bottom: 0;
    /* background-color: rgb(27, 46, 46); */
    margin-top: 4%;
    color: black;
    font-family: 'poppinsregular';
    text-align: center;
}
.social-media-wapper span{
    font-size: 2.3rem;
    color: rgb(23, 20, 27);
    font-weight: 700;
}

.social-media-wapper ul{
    list-style: none;
    margin-top: 5px;
    padding: 5px 0;
    margin-bottom: 0;
}

.social-media-wapper ul li{
    text-decoration: none;
    /* overflow: hidden; */
    display: inline-block;
    text-align: center;
    margin-left: 15px;
}

.social-media-wapper ul li img{
    width: 70%;
    height: 60%;
    padding: 1px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 25px rgb(255, 253, 250) ;


}

.sep{
    margin-top: 0;
    font-family: 'poppinsregular';
    color: black;
    font-size: 1.4rem;
    text-align: center;
    margin-right: 4px;
    margin-bottom: 10px;
}

.sep::after, .sep::before{
    content: '';
    margin: 0;
    margin-top: 30px;
    padding: 0;
    display: inline-block;
    background-color: black;
    height: 2px;
    width: 30%;
    margin-bottom: 5px;
}
.sep::before{
    margin-right: 4px;
}

.form-wapper form{
    border: dashed red 1px;
    width: 80%;
    margin: 0 auto;
    
}

.form-wapper form div{
    padding: 0;
    line-height: 0;
    text-align: center;
    position: relative;
    margin-bottom: 7px;
}
.form-wapper form >div> div{
    position: absolute;
    /* background-color: aqua; */
    border-left: solid .4px rgb(3, 11, 6);
    height: 100%;
    top: 0%;
    width: 50px;
    display: flex;
    right:1%;
}
.form-wapper form >div> div img{
    width: 60%;
    margin: auto ;
}


.form-wapper form div input{
    padding: 0;
    width: 100%;
    display: inline-block;
    height:50px;
    outline: none;
    border: none;
    border: solid 1px rgb(241, 201, 142);
    border-radius: 25px;
    padding-right: 3.9em;
    letter-spacing: 1.3px;
    padding-left: 1.5em;
    box-shadow: 1px 1px 2px rgb(103, 99, 95) ;
    font-weight: 300;
    font-family:'poppinsregular' ;
    font-size: .9em;
}


.form-wapper form div input:focus{
    border: solid 2px rgb(173, 159, 244);
    transition: border ease 80ms;

}

.form-wapper form div input::placeholder{
    font-family:'poppinsregular' ;
    color: rgb(159, 69, 48);
}



.form-submit button{
    width: 100%;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: rgb(255, 183, 0);
    padding: .5em;
    color: rgb(255, 255, 255);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.397) ;
    box-shadow: 1px 1px 6px rgb(38, 35, 35) ;
    font-size: 1.4em;
}
.form-submit button:hover{
    background-color: rgb(224, 183, 80);
    cursor: pointer;
}

.sign-in{
    text-align: center;
    margin-top: 20px;
    font-size: .8em;
    font-family:'poppinsregular' ;
}

.sign-in a{
    text-decoration: none;
    color: rgb(255, 2, 32);
    margin-left: 6px;
}